
#jumbotron {
    padding:140px;
    margin:15px;
    background-image:url(https://media.lasvegassun.com/media/img/photos/2019/08/09/20190724_SUN_HSFB_014_t653.jpg?214bc4f9d9bd7c08c7d0f6599bb3328710e01e7b);
    text-align:center;
    font-size:28px;
    font-family: 'Bebas Neue', cursive;
}

#paragraphs {
    padding:20px;
    margin:20px;
    text-align:center;
}
#form {
    font-family: 'Bebas Neue', cursive;
    padding:20px;
    margin:20px;
    text-align:center;
}
#nav {
    font-family: 'Bebas Neue', cursive;
    font-size:40px;
}
#title {
    font-family: 'Noto Sans SC', sans-serif;
}